*.egg-info
*.pyc
*.so
.coverage
.eggs
.idea
.mypy_cache
.vscode
/build
/dist
/docs/_build
temp
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

**/sample_output.mp4
results

/sync*.sh
/build_and_run*.sh
models/MiniCPM-o-2_6*
models/iic
models
cache

exp/
uv.lock
logs/
.lock
