*.egg-info
*.pyc
*.so
.coverage
.eggs
.idea
.mypy_cache
.vscode
/build
/dist
/docs/_build
temp
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

models/*
!models/silero_vad/
!models/sherpa_kws/
cache/*
!cache/temp_file_here.txt
test

uv.lock
logs/
.lock
